<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Responsive Tile Grid</title>
  </head>
  <body class="min-h-screen grid place-items-center">
    <!-- Responsive Grid Layout -->
    <div class="grid gap-4 p-4 max-w-5xl xs:grid-cols-2 md:grid-cols-4">
      <h1 class="text-4xl font-extrabold xs:col-span-2 xs:grid xs:grid-cols-2 gap-4 md:col-span-3 md:grid-cols-3">
        <span class="md:col-span-2">Grid Layout with Tailwind CSS</span>
      </h1>
      <p class="xs:row-start-2 xs:col-start-2 xs:self-center md:col-start-1 md:col-span-2 md:pr-4 md:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nihil quo
        voluptas, obcaecati magni adipisci laborum aliquid pariatur enim in.
      </p>
      <div class="h-16 bg-blue-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-pink-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-blue-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-pink-500 md:col-start-2 xs:h-auto xs:square"></div>
      <div class="h-16 bg-blue-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-pink-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-blue-500 xs:h-auto xs:square"></div>
      <div class="h-16 bg-pink-500 xs:h-auto xs:square"></div>
      <p class="self-center md:text-lg col-span-2 md:px-4 text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae
        soluta esse natus, molestias dicta modi sequi!
      </p>
    </div>
  </body>
</html>
